.app {
	padding: 16px;
	display: flex;
	width: 100%;
	height: 100%;
}

.app .left {
	flex: 1;
}

.app .right {
	flex: 1;
}

.app form>div {
	margin-bottom: 0.5em;
}

.app form label:not(:last-child) {
	margin-right: 0.5em;
}

.app form button:not(:last-child) {
	margin-right: 0.5em;
}